node_modules
lerna-debug.log
npm-debug.log
yarn-error.log
pkg/ts/**/dist
pkg/ts/*/coverage
test.sqlite
.idea
.DS_Store
*.log
*.tsbuildinfo
.*.env
.env.*
.env
\#*\#
*~
*.swp

/tmp/
/codegen/hack/
.flexicon